{% extends "base.html" %} {% block title %}incomplete{% endblock %} {% block content %}
    <h1>Rooms with incomplete audits:</h1>
    <table class="table table-striped">
        <thead><tr>
            <th>Room</th>
            <th>Count</th>
            <th>Found</th>
            <th>Missing</th>
            <th>Last Scanned</th>
        </tr></thead>
        <tbody>{% for item in items %}
        <tr>
            <td><a href='/room/{{ item[0] }}'>{{ item[0] }}</a></td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[1]-item[2] }}</td>
            <td>{{ item[3] }}</td>
        </tr>
        {% endfor %}</tbody>
    </table>
{% endblock %}
