{% extends "base.html" %} {% block title %}missing{% endblock %} {% block content
    %}
    <div>
        <h1>Items that were found in the wrong room:</h1>
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <table class="sorttable">
            <tr>
                <th>Barcode</th>
                <th>Correct Room</th>
                <th>Current Room</th>
                <th>Date Found</th>
                <th>Description</th>
            </tr>
            {% for item in items %}
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
    