{% extends "base.html" %} {% block title %}missing{% endblock %} {% block content %}
    <h1>Items that have not been found:</h1>
    <table class="table table-striped">
        <thead><tr>
            <th>Barcode</th>
            <th>Room</th>
            <th>Person</th>
            <th>Description</th>
        </tr></thead>
        <tbody>{% for item in items %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
